.about__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    line-height: 2rem;
    letter-spacing: 0.8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
}

.about__container>span {
    width: 80%;
    text-align: justify;
}

.about__heading {
    background: var(--gray);
    color: black;
    font-size: 1.23rem;
    font-weight: bold;
    padding: 0.2rem;
}

@media screen and (max-width: 600px) {
    .description {
        font-size: 12px;
        line-height: 20px;
    }

}